// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

unless cards
  p Aucune notice dans ce panier.
table.table.table-condensed.table-striped
  tr
    td Titre
    td Auteurs
    td Diffuseur
    td Quantité restante
  for card in cards
    tr
      td: a(href="{{ card.get_absolute_url }}") {{ card.title }}
      td {{ card.display_authors }}
      td {{ card.distributor.name }}
      td {{ card.quantity }}

{% endblock %}