
// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


div(ng-controller="historyController")
    h3(ng-show="history") Historique des ventes //unseen
    div(
      ng-repeat="hist in history"
    )
      div
        a(href="{% verbatim %} {{ hist.item.details_url }} {% endverbatim %}") Vente du {% verbatim %} {{hist.item.date }}: {{hist.item.cards.length}} notices {% endverbatim %}
        div total: {% verbatim %} {{hist.item.total_price}} {% endverbatim %}
        div(ng-repeat="card in hist.item.cards")
          div {% verbatim %} {{ card.title }} {% endverbatim %}

{% endblock content %}